name: Release for Windows

on:
  workflow_dispatch:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
jobs:
 build_windows:
   runs-on: windows-latest
   steps:
      - uses: actions/checkout@v4
      - name: Install Flutter
        run: |
          git submodule update --init --recursive
      - run: flutter create --platforms=windows .
      - run: flutter build windows --release

      - name: Package Executable
        run: 7z a -r -sse ..\..\..\..\build\app\app-release.zip *
        working-directory: build\windows\x64\runner\Release
     
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: build/app/app-release.zip,
          prerelease: false
          tag_name: ${{ github.event.inputs.tag_name }}
          token: ${{ secrets.RELEASE_TOKEN }}
